<form class="mx-4 mt-4">
    <div class="form-row">
        <div class="form-group col-sm-5 pr-6 mt-2">
            <app-search-history (itemSelected)="onCountrySelected($event)"></app-search-history>
        </div>

        <div class="form-group col-sm-7">
            <app-country-lookup (countrySelected)="onCountrySelected($event)"></app-country-lookup>
            <app-country-info *ngIf="selectedCountry" [selectedCountry]="selectedCountry"></app-country-info>
        </div>
    </div>
</form>